<h2>Search Rotten Mangoes...</h2>
<%= form_tag(movies_path, method: 'get') do %>
  <div class='search-row'>
    <div class='search-label'><%= label_tag(:t, "Movie Title or Director:") %></div>
    <div class='search-input'><%= text_field_tag(:t) %></div>
  </div>
  <!-- <div  class='search-row'>
    <div class='search-label'><%= label_tag(:d, "Search Movie Director:") %></div>
    <div class='search-input'><%= text_field_tag(:d) %></div>
  </div> -->
  <div class='search-row'>
    <div class='search-label'><%= label_tag(:length, "Movie Length:") %></div>
    <div class='search-input'><%= select_tag(:length, "<option value='less90'>Under 90 Minutes</option><option value='90to120'>From 90 to 120 Minutes</option><option value='120more'>More Than 120 Minutes</option>".html_safe, include_blank: true) %></div>
  </div>
  <div class='search-row'>
    <%= submit_tag("Search") %>
  </div>
<% end %>
<% if params[:t].present? %>
  <p>Movies with '<%= params[:t] %>' in the title or director</p>
<% end %>
<!-- <% if params[:d].present? %>
  <p>Movies with '<%= params[:d] %>' in the director name</p>
<% end %> -->
<% if params[:length].present? %>
  <% case params[:length] %>
  <% when 'less90' %>
    <p>Movies shorter than 90 minutes</p>
  <% when '90to120' %>
    <p>Movies from 90 minutes to 120 minutes</p>
  <% when '120more' %>
    <p>Movies longer than 120 minutes</p>
  <% end %>
<% end %>